<%- include("partials/header") %>

<div class="container bg-secondary">
    <header class="jumbotron bg-warning">
        <div class="container text-center">
            <h1 class="mb-5">This is the Landing Page!</h1>
            <a class="btn btn-secondary btn-md" href="/campgrounds">View Campgrounds</a>
        </div>
    </header>
</div>

<%- include("partials/footer") %>
