<%- include("../partials/header") %>

<div class="container">
    <% if(currentUser && currentUser.isAdmin) { %>
        <h1 class="admin text-center">Admin Account</h1>
    <% } %>
    <h1 class="text-center">Create a New Campground</h1>
    <div class="info-box">
        <form action="/campgrounds" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="name" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="number" name="price" placeholder="price" min="0.01" step="0.01" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="image" placeholder="image url" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="description" placeholder="description" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="location" placeholder="Yosemite National Park, CA" required>
            </div>
            <div class="form-group">
               <button class="btn btn-lg btn-primary btn-block">Submit</button> 
            </div>
        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
</div>

<%- include("../partials/footer") %>