body {
    overflow-x: hidden;
}

.box {
    width: 100%;
}

a:hover {
    text-decoration: none;
    color: red;
}

.delete-form{
    display: inline;
}

#map {
    height: 400px;
    width: 100%;
}

.capitalize {
    text-transform: capitalize;
}

.title{
    font-size: 4rem;
}

.home-text{
    font-size: 1.2rem;
}

.info-box {
    width: 30%; margin: 25px auto;
}

.admin {
    background-color: darkred;
    color: white;
}

.home-page-img {
    height: 18.5vh; 
}

.like-btn {
    padding-bottom: 20px;
}

.new-comment-border {
    border-left: 5px solid #00C851:
}

.no-comment {
    color: grey;
}

.online {
    color: orange;
}

.edit-comment-border {
    border-left: 5px solid #ffbb33; 
    margin-top: 15px;
}