body {
    overflow-x: hidden;
}

.box {
    width: 100%;
}

a:hover {
    text-decoration: none;
    color: red;
}

.delete-form{
    display: inline;
}

#map {
    height: 400px;
    width: 100%;
}

.capitalize {
    text-transform: capitalize;
}

.title{
    font-size: 4rem;
}

.home-text{
    font-size: 1.2rem;
}